/* Sidebar */
.sidebar {
    background-color: #3B4FE4;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile h2 {
    font-size: 1.2em;
    margin-left: 20px;
    color: #fff;
}

.profile p {
    font-size: 0.8em;
    margin-left: 20px;
    color: #fff;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

nav ul li {
    cursor: pointer;
    display: flex;
    align-items: start;
    width: 100%;
}

nav ul li i {
    margin-right: 1px;
    font-size: 1.2em;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 10px;
}

.nav-link:hover {
    color: #FF6B6B;
}

.social {
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
}

.social i {
    color: #FF6B6B;
    padding: 5px;
}

.social i:hover {
    color: #fff;
}


